@import "tailwindcss";

@theme {
  --animate-fadeIn: fadeIn 1s ease-out forwards;

  @keyframes fadeIn {
    0% {
      opacity: 0
    },
    100% {
      opacity: 100
    }
  }
}
@layer base {
  html {
    @apply scroll-smooth;
  }
}
textarea::-webkit-scrollbar {
  display: none;
}

textarea {
  resize: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}